@import "reset.css";

/* 헤더 */
.header {
    height: 64px;
    border-bottom: 1px solid #d1d1d1;
    background-color: white;
    display: flex;
    align-items: center;
}

.header .header-group {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h1 {
    font-size: 24px;
    font-weight: 700;
}

.header h2 {
    display: flex;
    gap: 10px;
}

.main-content {
    width: 100%;
    min-height: calc(100vh - 80px);
}

.content-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 24px;
}
